:root {
  --black: #000000;
  --black-shade100: #0F0F0F;  
  --black-shade200: #181818; 
  --primary: #eff1f5;
}
body {
  background-color: var(--bs-white);
  color: #212529;
}
.title {
  font-weight: 600;
  text-align: center;
}
.subheader {
	padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.subheader .title {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 0;
  text-align: left;
}
.btn {
  font-size: 12px;
}
.product-group {
  margin-bottom: 3rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: .5rem;
}
.product-card {
  background-color: transparent;
  color: #212529;
  border: 0;
  border-radius: 0;
  height: 100%;
  box-shadow: var(--bs-box-shadow);
}
.product-card .card-img-container {	
	position: relative;
	padding-top: 110%;
  margin-bottom: .75rem;
}
.product-card .card-img-top {
  background-color: var(--primary);  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 1px solid #e5e7eb;*/
  object-fit: scale-down;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.product-card .card-body {
  padding: .5rem .5rem 1.25rem;
}
.product-card .card-title {
  font-size: 14px;
  font-weight: 700;
}
.product-card .card-text {
  font-size: 13px;
  color: #4d4d4d;
}