@import url('//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --ff-raleway: "Raleway", sans-serif;
  --ff-fira-sans: "Fira Sans", serif;
  --ff-jost: "Jost", sans-serif;

  --black: #000000;
  --black-shade100: #0F0F0F;  
  --black-shade200: #181818; 
  --primary: #508732;
  --secondary: #93B838;
  --terciary: #654831;

  --green: #508732;
  --green-shade-100: #E0EECB;   
  --green-shade-200: #A0CAA4;
  --green-shade-300: #A9CC3A;
  --green-shade-400: #93B838; 
  --brown: #654831;
}
body {
  background-color: var(--bs-white);
  color: #212529;
  font-family: var(--ff-fira-sans);
}


/* ***** UTILITIES ***** */
.text-justify {
  text-align: justify;
}


/* ***** HEADER ***** */
.header {
  position: relative;
  background-color: transparent;
}
.header .top-wrapper {
  color: var(--green);
}


/* ***** TOP ***** */
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: .5rem;
  padding-bottom: .5rem;
  gap: 1rem;
}


/* ***** SHIPMENT ***** */
.shipment {  
  position: relative
}
.shipment-description {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1pt;
  margin-bottom: 0;
}


/* ***** SOCIAL NETWORKS ***** */
.social {
  position: relative;
}
.social ul {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0;
  padding-left: 0;
}
.social ul li {
  list-style: none;
}
.social ul li a {
	background-color: var(--green);
  color: var(--bs-white);
  padding: .5rem;
  border-radius: 20px;
}


/* ***** COMPANY ***** */
.company {
  display: flex;
  align-items: center;
  flex-direction: column;
	color: var(--bs-white);
  padding: 0;
}
.company-logo {
  margin-bottom: 0;
}
.company-logo img {
  height: 55px;
  width: auto;
  border-radius: 50%;
}
.company-info {
  text-align: center;
}
.company-name {
	font-weight: 600;
	margin-bottom: 0;
}
.distributor-name {
  font-size: .95rem;
  font-weight: 500;
  margin-bottom: 0;
}


/* ***** NAVBAR ***** */
.menu {
  background-color: var(--green-shade-300);
  padding: 0 .75rem;
}
.menu .nav-link {
  color: var(--brown);
  font-weight: 600;
  font-size: .95rem;
}
.menu .nav-link:hover {
  background-color: var(--green-shade-100);
}
.menu .navbar-nav .nav-link.active, 
.menu .navbar-nav .nav-link.show {
  background-color: var(--brown);
  color: var(--bs-white);
}
.menu .navbar-toggler {
  border: 2px solid var(--green);
  border-radius: 8px;
}


/* ***** FOOTER ***** */
.sponsors {
  background-color: var(--green);
  color: var(--bs-white);
  padding: 3rem 1.5rem;
  text-align: center;
}
.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  color: var(--bs-secondary);
  border-top: 1px solid #eee;
  padding: 2rem 1.25rem;
  font-size: .95rem;
  text-align: center;
}


/* ***** MAIN ***** */
.title {
  font-weight: 600;
}
.subheader {
	padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 4px;
  margin-bottom: .75rem;
}
.subheader .title {
  display: inline-flex;
	font-size: 1.25rem;
	font-style: italic;
	margin-bottom: 0;
	text-align: left;	
  padding-bottom: .25rem;
	border-bottom: 2px solid var(--green-shade-300);	
}
.btn-back {
  background-color: var(--brown);
  border-color: var(--brown);
}
.btn-back:hover,
.btn-back:focus {
  background-color: var(--brown);
  border-color: var(--brown);
}
.btn-back:first-child:active,
.btn-back.active {
  background-color: var(--brown);
  border-color: var(--brown);
}


/* ***** PRODUCTS ***** */
.product-section {
  margin-bottom: 3rem;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .375rem;
}
.product-card {
  background-color: transparent;
  color: #212529;
  border: 1px solid #eee;
  border-radius: .8rem;
  height: 100%;
  box-shadow: 0 1px 2px #0000001f;
}
.product-card .card-img-container {	
	position: relative;
	padding-top: 100%;
  margin: 0;
}
.product-card .card-img-top {
  background-color: #f7f8f9; /*#eff1f5*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 1px solid #e5e7eb;*/
  object-fit: scale-down;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.product-card .card-body {
  padding: .5rem .5rem 0;
}
.product-card .card-title {
  font-size: .9rem;
  font-weight: 500;
  display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: normal;
  margin-bottom: .1rem;
  text-decoration: none;
}
.product-card .card-price {
  margin-bottom: 0;
}
.product-card .card-text {
  display: none;
  font-size: .875rem;
  color: rgba(0,0,0,.65); /*#495057*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}
.product-card .card-footer {
  background-color: transparent;
  border-top: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}
.product-card .btn {
  background-color: var(--green);
  border-color: var(--green);
  font-weight: 500;
  border-radius: 20px;
}
.product-card .btn.active,
.product-card .btn:active {
  background-color: var(--green);
  border-color: var(--green);
}


/* ***** PRODUCT DETAILS ***** */
.product-page .custom-badge {
  background-color: var(--green);
  border-radius: 20px;
  border: 4px solid var(--green-shade-200);
  padding: .5rem 1.25rem;
}
.product-page .custom-badge .title {
  font-size: 1.5rem;
}
.product-page .custom-badge .subtitle {
  font-size: .75rem;
	font-weight: 500;	
}
.product-page .custom-badge + .custom-badge {
  margin-left: .5rem;
}
.product-page .img-thumbnail-container {
  position: relative;
  padding-top: 100%;
}
.product-page .img-thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: .8rem;
  background-color: #f7f8f9;
}
.product-page .btn-back {
  border-radius: 20px;
}
/* ----- PRODUCT INFO ----- */
.product-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 0;
  gap: .5rem;
  margin: auto;
}
.product-info .title {
  margin-bottom: 1rem;
}
.product-info .subtitle {
  font-weight: 600;
  margin-bottom: .25rem;
}
.product-info .product-img-container {
  flex: 1;
  padding: .5rem;
}
.product-info .product-description-container {
  flex: 2;
}
.product-info .product-img-container img {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}
.product-info .product-description {  
  background-color: #f7f8f9;
  color: var(--bs-dark);
  border: 1px solid #EEE;
  box-shadow: var(--bs-box-shadow);
  padding: 1.25rem .75rem;
  border-radius: 25px;  
}
.product-info .product-description .title {
  text-transform: uppercase;
  text-align: center;
}
.product-info .product-description .subtitle {
	display: inline-block;
	background-color: var(--green);
	color: var(--bs-white);
	padding: .25rem .75rem;
	border-radius: 0px 8px 0 8px;
	width: 120px;
}
.product-info .product-description .description {
	border: 2px solid #dee2e6;
	border-radius: 8px;
	padding: .5rem;
}
.product-info .product-permissions {
  display: flex;
  justify-content: center;
  padding: .75rem 1.5rem;
  margin-bottom: 1rem;
}
.product-info .product-permissions .badge {
	background-color: var(--green);
	border-radius: .8rem;
	padding: .5rem 1rem;
  box-shadow: var(--bs-box-shadow);
  font-size: .8rem;
  font-weight: 600;
  line-height: 1.2;
  width: 100%;
}
.product-info .product-permissions .badge p {
  margin-bottom: 0;
  white-space: wrap;
}
.product-info .product-standards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-info .product-standards img {
  height: 110px;
  width: auto;
}


/* ***** NUTRITION FACTS ***** */
.nutrition-facts {
  width: 100%;
  padding-left: 1.5rem;
  margin-bottom: .5rem;
}
.nutrition-facts li {
  border-bottom: 2px solid #dee2e6;
}
.nutrition-facts li:last-child {
  border-bottom: 0;
}
.nutrition-facts .fact {  
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.nutrition-facts .element {
  font-size: .85rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nutrition-facts .badge {
  min-width: 50px;
}


/* ***** LOTTERY ***** */
.lottery {
  position: relative;
}
.lottery .img-thumbnail {
  width: 100%;
  padding: 0;
  border: 0;
  border-radius: 2px;
  object-fit: scale-down;  
}


/* ***** SEARCH BOX ***** */
.search-box {
  align-items: center;
}
.search-box .form-control {
  background-color: #f7f8f9;
  border: 2px solid #eee;
  font-size: .9rem;
  border-radius: 20px !important;
  padding-left: 1rem;
  padding-right: 2.25rem;
  height: 40px;
}
.search-box .input-group-text {
	position: absolute;
	right: 0;
	z-index: 10;
	background-color: transparent;
	border: 0;
	cursor: not-allowed;
	color: #6c757d;
}



/* ***** RESPONSIVE ***** */
@media (min-width: 576px) { 
  .social {
    display: flex;
  }
  /*.company-logo img {
    height: 55px;
  }*/
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
  }
  /*.product-card .card-img-top {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }*/
  .product-card .card-title {
    margin-bottom: .25rem;
  }
  .product-card .card-text {
    font-size: .9rem;
  }
}
@media (min-width: 768px) { 
  .header {
    border-bottom: 1px solid #eee;
    box-shadow: var(--bs-box-shadow);
  }
  .top {
    flex-direction: row;
    justify-content: space-between;
    padding-top: .375rem;
    padding-bottom: .375rem;
  }
  .company-logo img {
    height: 60px;
  }
  .social ul {
    gap: .75rem;
  }
  .product-card .card-body {
    padding: .5rem .5rem;
  }
  .product-card .card-title {
    margin-bottom: .2rem;
  } 
  .product-card .card-text {
    display: block;
    font-size: .95rem;
  } 
  /*.product-card .card-img-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }*/ 
  .product-info {
    flex-direction: row;
  }
  .product-info .product-img-container img {
    height: 400px;
    object-fit: cover;
  }
  .product-info .product-description {
    padding: 1.25rem;
  }
  .product-info .product-permissions .badge {
    font-size: .85rem;
  }
  .product-info .product-standards {
    gap: 1.5rem;
  }
  .product-info .product-standards img {
    height: 130px;
  }
  .nutrition-facts .element {
    font-size: .9rem;
  }
}
@media (min-width: 992px) { 
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .menu .navbar-nav {
    gap: 1rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: .5rem;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    margin-top: .25rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: .75rem;
    padding-right: .75rem;
  }
} 